.header{
    background-image: url(../pictures/background.png);
    color:white;
    min-height: 140%;
    
}
.nav-link{
    color:white;
}

.col-sm-6 h3{
    margin-top: 25%;
    color:white;
}
.col-sm-6 h3{
    font-size: 50px;
}
.col-sm-6 p{
    font-size: 25px;
    color: white;
}
.logo{
    width:80px;
    max-width: 100%;
    max-height: 80%;
    cursor:pointer;
    margin-right: auto;
    padding-top: 10px;
}
button{
    background-color: #0d0;
    border-radius: 5px;
    border-bottom: 10px;
    border-right: 10px;
    padding: 3px 20px;
    font-size: .9rem;
    font-weight: bolder;
    cursor:pointer;
    color: white;
    border-color:#0d0;
    height: 39px;
    }
    .col-sm-4 h3{
        color:#0d0;
        font-size: 50px;
        align-items: center;
        
    }
    .col-sm-4 p{
        font-size:25px;
        align-items: center;
    }
    hr {
        position: relative;
        border: none;
        height: 2px;
        background: black;
    }
    .col-sm-6 h1{
        color:black;
        font-size: 50px;
        align-items: center;   
    }
    .col-sm-6 h2{
        color:black;
        font-size: 25px;
        align-items: center;   
    }
    .col-sm-6 h5{
        color:black;
        font-size: 25px;
        align-items: center;   
        font-weight: 450;
        padding-top: 15px;
        padding-left: 50px;
    }
    .image1{
        max-width: 100%;
        height: auto;
    }
    .section3{
        padding-top: 6%;
    }
    .section2{
        padding-top: 6%;
    }
    .learn-more{
        color:#0d0;
    }
    .col-sm-6 h5 hr{
        color:#0d0;
    }
    .section4{
        background-color: #25e200;
    }
    .title{
        justify-content: center;
        text-align: center;
        color: white;
    }
    .grid{
        width: 80%;
        align-items: center;
        cursor: pointer;
        padding: 16px;
    }
    .section6{
        padding-top: 5%;
    }
    .logos{
        max-width: 100%;
        height: auto;
    }
    .section8{
        background-color: #e6e6e6;
    }
    .section9{
        padding-top: 5%;
    }
    .pad{
        padding-top: 30%;
    }
    .title4{
        align-items: center;
        width: 100%;
        text-align: center;
    }
    .logos2{
        width:22%;
        padding-top: 2%;
    }
    .section11{
         background-color: #e6e6e6;
         padding-top: 5%;
         height:45%;
    }
    .subscribe{
        color: white;
        background-color: black;
        border-color: black;
        height: 32%;
        font-size: 20px;
        font-weight: 500;
        border-radius: 5px;
        cursor: pointer;
        }
    .footer{
        background-color: black;
        color: #25e200;
        min-height: 15%;
    }
    .policy{
        color:#25e200;
        padding-top: 20%;
    }
    .green{
        color: #25e200;
    }
    #menubar{
        padding-top: 2%;
    }
    .navbar .navbar-nav>li>a {
        padding-right: 30px;
      }